.desktopIcon {
    font-family: "monospace";
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: white;
    text-decoration: none;
    display: flex;
}

.mobileIcon {
  flex-grow: 1;
  margin-right: 8px;
}

.desktopIcon {
  margin-right: 8px;
}
